<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script>
        function initMap() {
            var location = { lat: 35.84601324617979, lng: 127.13444961966684 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1c2miU5fRUw_h_kcJEuNgzQwveTyov9M&callback=initMap"></script>
</head>
<body>
    <div id="map" style="height: 400px; width: 600px;"></div>
</body>
</html>

<!-- AIzaSyD1c2miU5fRUw_h_kcJEuNgzQwveTyov9 -->
<!-- lat: 35.84601324617979, lng: 127.13444961966684 -->